<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/recursos/style.css">
</head>
<body>
    <form action="/mongooses" method="post">
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese nombre">
        <input type="text" name="tipo" id="tipo" placeholder="Ingrese tipo">
        <input type="text" name="donde_vive" id="donde_vive" placeholder="Ingrese donde vive">
        <input type="text" name="edad" id="edad" placeholder="Ingrese edad maxima">

        <button type="submit">Grabar</button>
    </form> 
</body>
</html>